<% @holdings.each do |holding| %>
  <section>
    <h3>Member</h3>
    Member: <%= holding.member_plan.member.email %><br>
    <h3>Investment</h3>
    Amount: <%= holding.amount %> <%= holding.member_plan.iso_currency %><br>
    <h3>Holding</h3>
    <%= holding.crypto %> <%= holding.coin.code %><br>
  </section>
  <hr>
<% end %>
