<%= form_for @plan do |f| %>
  <div class="row">
    <div class="one columns"></div>
    <div class="three columns">
      <section class="title">
        <%= f.label :name, class: 'inline-block' %>
        <%= f.text_field :name, class: 'inline-block' %>
      </section>
    </div>
    <div class="eight columns">
      <div class="row">
        <section class="details">
          <%= f.fields_for :details, @plan.details.build do |b| %>
            <%= render 'details/fields', f: b %>
          <% end %>
        </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <section class="title">
        <%= link_to_add_fields 'Add Detail', f, :details %><br>
        <%= f.submit %>
      </section>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('.add_fields').on('click', function (e) {
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $('.details').append($(this).data('fields').replace(regexp, time));
      e.preventDefault();
    })

    $('.remove_fields').on('click', function (e) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('fieldset').hide();
      e.preventDefault();
    });
  });
</script>
